@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Regular.woff2') format('woff2'),
        url('MerriweatherSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Bold.woff2') format('woff2'),
        url('MerriweatherSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-Italic.woff2') format('woff2'),
        url('Philosopher-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher.woff2') format('woff2'),
        url('Philosopher.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

